@font-face {
  font-family: 'satisfy', cursive;
  src: url(../../font/Satisfy/Satisfy-Regular.ttf);
}

footer {
  h1 {
    font-family: 'satisfy', cursive;
    text-align: center;
    font-size: 150%;
    font-weight: none;
  }
}